/* google fonts */
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
    box-sizing:border-box;
}

body{
    background: lightgrey;
    font-size: 1.2em;
    width: 40%;
    height: 100vh;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    min-height: 50vh;
    font-family: 'Lato', sans-serif;
}

/* mediaQuery */

#list{
    display:flex;
}

#songList, #playlist {
background: lightcyan;
border-radius: 10px;
text-align:left;
width: 25vw;

margin-top:10px;
}

#playlist{
    margin-left: 10px;
}
button{
    font-family: 'Lato', sans-serif;
   
}
#playlist{
    visibility: hidden;
}

#currentlyPlayingSong{
    margin:10px;
}

#addToPlaylist{
    margin-left:10px;
}

ul {
    list-style-type: none;
 } 

h4 {
    margin-left:10px;
}
h3 {
    margin-left:10px;
}

li{
    padding:5px;
    
}

/* li:nth-child(odd) {
     background: red; 
    width:100px;
}
li:nth-child(even) {
     background: green; 
    width:100px;
} */

li button{
    border: none;
    background-color: lightcyan;
}
li button:hover{
    border: 2px solid black;
    border-radius:5px;
    background-color:lightcyan;
}

li:hover, i:hover, #volumeSlider:hover, #progress-bar:hover, #addToPlaylist:hover {
    cursor:pointer
}

#controls {
    border:1px solid lightgray;
    border-radius: 10px;
    background: lightcyan;
    padding:10px;
    box-shadow: 0 20px 20px 0 rgba(252, 169, 169, 0.6);
}

i:active {
    color:black;
}

i {
    color: lightslategray;
    outline:0;
    margin:5px;
}

input#searchBar{
    margin-top:5px;
    background-color: lightcyan;
    border-radius: 5px;
    cursor:text;
}
#progress-bar{
    width: 80%;
    margin:10px;
}

#timeControl{
    padding: 20px;
    
}
#volumeSlider{
    width:75px;
}

#currentlyPlayingSong{
    padding: 20px;
}

#searchBar {
    width: 100%;
    height: 32px;
    border-radius: 3px;
    border: 1px solid #eaeaea;
    padding: 5px 10px;
    font-size: 12px;
}
input{
    cursor:pointer;
}
footer{
    margin-top: 10px;;
}