@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
    box-sizing:border-box;
}

body{
    background: lightgrey;
    font-size: 1.2em;
    width: 40%;
    height: 100vh;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    min-height: 50vh;
    font-family: 'Lato', sans-serif;
}

ul{
    margin: 0;
    padding: 10px;
    list-style-type: none;
}

#list{
    display:flex;
}

#songList, #playlist {
    background: lightcyan;
    border-radius: 10px;
    text-align:left;
    width: 25vw;
    margin-top:10px;
}

#playlist{
    margin-left: 10px;
    visibility: hidden;
}
button{
    font-family: 'Lato', sans-serif;
}

#addToPlaylist{
    margin-left:10px;
}

h4 {
    margin-left:10px;
}
h3 {
    margin-left:10px;
}

li{
    padding:5px;
    
}

/* li:nth-child(odd) {
     background: red; 
    width:100px;
}
li:nth-child(even) {
     background: green; 
    width:100px;
} */

li button{
    border: none;
    background-color: lightcyan;
    width: 40%;
    text-align:left;
}

li button:hover{
    border: 2px solid black;
    border-radius:5px;
    background-color:lightcyan;
    cursor:pointer;
}

i:hover, #volumeSlider:hover, #progress-bar:hover, #addToPlaylist:hover {
    cursor:pointer
}

#controls {
    border:1px solid lightgray;
    border-radius: 10px;
    background: lightcyan;
    padding:10px;
    box-shadow: 0 20px 20px 0 rgba(252, 169, 169, 0.6);
}

i:active {
    border:2px solid black;
}

i {
    color: black;
    outline:0;
    margin:5px;
}

input#searchBar{
    margin-top:5px;
    background-color: lightcyan;
    border-radius: 5px;
    cursor:text;
}
#progress-bar{
    width: 80%;
    margin:10px;
}

#timeControl{
    padding: 20px;
    
}
#volumeSlider{
    width:75px;
}

#currentlyPlayingSong{
    padding: 20px 0 0 0;
    font-family: Montserrat, sans-serif;
    margin:10px;
    
}
#currentSong{
    font-family: Montserrat, sans-serif;
}

#searchBar {
    width: 100%;
    height: 32px;
    border-radius: 3px;
    border: 1px solid #eaeaea;
    padding: 5px 10px;
    font-size: 12px;
}
input{
    cursor:pointer;
}
footer{
    margin-top: 10px;
}

 /* iphone X , XS, 11 Pro */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px)
 and (-webkit-device-pixel-ratio: 3) {
    body {
        background-color: lightblue;
        margin: 10px;
      }
      #controls{
          width: 80vw;
          height: 35vh;
          align-items:center;
          justify-content:center;
      }
      #searchBar{
        width: 80vw;
        margin-top: 5px 0px;
      }
        #list #songList {
          align-items:left;
          width:100%;
      } 
      #list #playlist{
          align-items:right;
          width:100%;
      } 
      #list{
          width:80vw;
          margin-top:5px;
          
      }
}